body, td, th, div, span, input, select, textarea {
	font: 12px 'NanumGothic';
	color: #7c7b7b;
	margin: 0px;
	line-height: 16px;
}

img, th, td {
	border: 0;
}

li, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

textarea {
	border: 1px solid #d1d1d1;
}

input, select, label {
	vertical-align: middle;
}

a:link {
	color: #7c7b7b;
	text-decoration: none;
	line-height: 16px;
}

a:visited {
	text-decoration: none;
	color: #7c7b7b;
}

a:hover {
	text-decoration: underline;
	color: #7c7b7b;
}

a:active {
	text-decoration: none;
	ccolor: #7c7b7b;
}

#wrap {
	width: 100%;
}

#header {
	height: 82px;
	border-bottom: 1px solid #e2e2e2
}

#login {
	height: 15px;
	padding-top: 8px;
	text-align: right;
	font-size: 11px;
	padding-right: 50px;
}

#logo {
	width: 130px;
	padding-right: 120px;
	float: left;
}

#container {
	width: 100%;
	height: 723px;
}

#main {
	float: left;
	width: 530px;
	overflow: hidden;
}

#content {
	float: left;
	width: 474px;
	overflow: hidden;
}

#footer {
	clear: both;
	border-top: 1px solid #e2e2e2;
	width: 100%;
	padding-top: 20px;
}

#left_menu {
	float: left;
	width: 198px;
	border-right: 1px solid #e0e0e0
}

#s_main {
	width: 100%;
	height: 132px;
	background: #d5d5d5;
}

.sub_img {
	width: 980px;
	margin: 0 auto;
}

.sub {

}

.sub h2 {
	margin-bottom: 10px;
}

.sub_cont {
	float: left;
	padding: 0 0 60px 75px;
	width: 705px;
	text-align: left;
}

.sub_icon {
	margin-bottom: 90px;
	margin-top: 60px;
}

.bold_black {
	color: #000;
	font-weight: bold;
}

.contents {
	width: 980px;
	margin: auto
}

.gray_font_11 {
	font-size: 11px;
	color: #797979;
}

.con_title {
	position: relative;
	padding-bottom: 40px;
}

.con_title h3 {
	margin: 0;
	text-align: left;
}

.site_navi {
	font: 11px 'NanumGothic';
	color: #838383;
	padding-bottom: 7px;
	position: absolute;
	top: 1px;
	right: 1px;
}

#navi {
	width: 730px;
	height: 25px;
	text-align: left;
	position: relative;
}

#navi .navi_main a.mgno {
	margin-right: 0;
}

#navi .navi_sub_5 .pdno {
	padding-right: 0;
}

.navi_main {
	width:730px;
	height: 25px;
	position: absolute;
}

.navi_main a {
	margin-right: 110px;
}

.m_menu {
	float: left;
	width: 225px;
}

.m_menu_box1 {
	background: url(/images/kor06-14-0122/main/menu01_bg.gif) no-repeat;
	width: 100%;
	height: 181px
}

.m_menu_box1 h2 {
	padding: 20px 0 18px 20px;
	margin: 0
}

.m_menu_box1 ul {
	margin-left: 20px;
}

.m_menu_box1 ul li {
	line-height: 0;
}

.m_menu_box2 {
	background: url(/images/kor06-14-0122/main/menu02_bg.gif) no-repeat;
	width: 100%;
	height: 181px
}

.m_menu_box2 h2 {
	padding: 20px 0 18px 20px;
	margin: 0
}

.m_menu_box2 ul {
	margin-left: 20px;
}

.m_menu_box2 ul li {
	line-height: 0;
}

.m_menu_box3 {
	background: url(/images/kor06-14-0122/main/menu03_bg.gif) no-repeat;
	width: 100%;
	height: 181px
}

.m_menu_box3 h2 {
	padding: 20px 0 18px 20px;
	margin: 0
}

.m_menu_box3 ul {
	margin-left: 20px;
}

.m_menu_box3 ul li {
	line-height: 0;
}

.m_menu_box4 {
	background: url(/images/kor06-14-0122/main/menu04_bg.gif) no-repeat;
	width: 100%;
	height: 180px
}

.m_menu_box4 h2 {
	padding: 20px 0 18px 20px;
	margin: 0
}

.m_menu_box4 ul {
	margin-left: 20px;
}

.m_menu_box4 ul li {
	line-height: 0;
}

.m_info {
	float: left;
	width: 248px;
}

.m_info_box {
	width: 100%;
	height: 180px;
	border-bottom: 1px solid #e2e2e2
}

.m_info_img {
	margin: 20px 0 0 30px;
}

.notice {
	height: 180px;
	width: 100%;
	float: left;
}

.notice li {
	background: url(/images/basic_blue/common/bu_dot.gif) no-repeat left center;
	padding-left: 7px;
	line-height: 20px;
}

.notice dl {
	margin: 20px 0 0 30px;
}

.notice dt {
	height: 35px;
}

.notice dd {
	margin: 0;
	padding: 0;
}

#footer_info {
	width: 985px;
	padding-left: 20px;
	position: relative;
	float: left;
}

#footer_info table {

}

.bgno {
	margin-bottom: 10px;
}

.foot_info {
	position: absolute;
	right: 0;
	top: 0;
}

.foot_info select {
	background: #a1a1a1;
	border: 1px solid #939393;
	width: 130px;
	height: 23px;
	color: #fff
}

#footer_info td {
	font: 11px 'NanumGothic';
	color: #5e5e5e;
	line-height: 18px;
}