/**
 * Created
 * User: KJK
 * Date: 2017-05-30
 * Time: 오전 11:18
 */
/*tbody tr:nth-child(2n) {*/
/*tbody tr:nth-child(even) {*/
	/*background-color: #f4f7ff;*/
/*}*/

#empConfirm tbody tr:nth-child(even) {
	background-color: #f4f7ff;
}

#empModify tbody tr:nth-child(even) {
	background-color: #f4f7ff;
}

#tableHead th {
	background-color: #d55f95;
	color: white;
}

#empList #tableHead th:nth-child(1) {
	width: 7vw;
}

#empList #tableHead th:nth-child(2) {
	width: 8vw;
}

#empList #tableHead th:nth-child(3) {
	width: 5vw;
}

#empList #tableHead th:nth-child(4) {
	width: 8vw;
}

#empList #tableHead th:nth-child(5) {
	width: 4vw;
}

#empList #tableHead th:nth-child(6) {
	width: 11vw;
}

#empList #tableHead th:nth-child(7) {
	width: 10vw;
}

#empList #tableHead th:nth-child(8) {
	width: 4vw;
}

#empList #tableHead th:nth-child(9) {
	width: 9vw;
}

#empList #tableHead th:nth-child(10) {
	width: 4vw;
}

#empConfirm #tableHead th:nth-child(1),
#empModify #tableHead th:nth-child(1) {
	width: 13vw;
}

#empConfirm #tableHead th:nth-child(2),
#empModify #tableHead th:nth-child(2) {
	width: 20vw;
}

#empModify input,
#tableData td,
#empConfirm td,
#empModify td,
#empModify select {
	font-size: 1vw;
	color: #797979;
}

#empModify #btnSet input{
	font-size: 1.5vw;
	color: #797979;
}